<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Spleeterweb</title>
  </head>
  <body>
    <h1>🎶 Spleeterweb 🎶</h1>
    <div class="subhead_text">
      Split your audio files into stems with <a target=_blank href="https://github.com/deezer/spleeter">spleeter</a>.
    </div>
    <div class="card">
      <h2>Input</h2>
      <form method="POST" enctype=multipart/form-data>
        <div>
          <label for="input_file">File to spleet:</label>
          <input type="file" id="input_file" name="input_file">
        </div>
        <div>
          <label for="model">Model: </label>
          <select name="model" id="model">
            <option value="2stems">2 Stems</option>
            <option value="4stems">4 Stems</option>
            <option value="5stems">5 Stems</option>
          </select>
          <label for="sample_rate">Sample Rate: </label>
          <select name="sample_rate" id="sample_rate">
            <option value=44100>44100</option>
            <option value=48000>48000</option>
          </select>
        </div>
        <div>
          <button type="submit">Spleet!</button>
        </div>
      </form>
    </div>
    {% if output %}
    <div class="card">
      <h2>Download Stems</h2>
      {% for stem in output %}
      <form method="POST" action="{{ url_for('output', stemfile=output[stem]) }}">
        <button type="submit" class="stem">{{ stem }}<i class="fa fa-download"></i></button>
      </form>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
