html, body {
  font-family: Serif;
  font-size: x-large;
  background-color: #353535;
  color: rgba(230, 230, 230, 1);
  padding-top: 24px;
}

h1 {
  padding: 4px;
  text-align: center;
  color: #ffd137;
}

h2 {
  margin-top: -12px;
  font-size: x-large;
  text-align: center;
  color: #ffd137;
}

h3 {
  font-size: large;
  text-align: center;
  color: rgba(230, 230, 230, 1);
  margin-top: 0px;
}

div {
  padding: 12px;
}

audio {
  margin: auto;
  margin-bottom: 0px;
  display: flex;
}

button {
  margin: auto;
  display: flex;
  cursor: pointer;
}

button.stem {
  margin-top: 6px;
  margin-bottom: 24px;
}

input, select {
  margin-left: 3px;
  margin-right: 24px;
  cursor: pointer;
}

a {
  color: lightskyblue;
  text-decoration: none;
}

i.fa-download {
  font-size: large;
  margin-left: 6px;
}

.card {
  font-size: x-large;
  padding: 24px;
  padding-bottom: 0px;
  max-width: 550px;
  min-width: 550px;
  margin: auto;
  margin-bottom: 12px;
  border-style: solid;
  border-color: #353535;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(40, 40, 40, 1),
              -2px -2px 8px 2px rgba(40, 40, 40, 1);
}

.subhead_text {
  font-size: medium;
  text-align: center;
  margin-top: -24px;
  margin-bottom: 24px;
  color: rgba(230, 230, 230, 1);
}
